# Functions to Consider

Similar to what I put up on the board, here are some Python functions and commands, which might be helpful.

## Lists
When you have a set of objects which you want to use together, its great to store them in a list. It is also helpful to have matching lists, so the subscript for each matches the object. And it is helpful, though not mandatory to name the list in plural then reference it, in singular fashion.

### Define the lists
The number of calories **match** the fruit in order as in 1 oz of an apple has 15 calories, 1 oz of a banana has 25 calories and so on.

In [1]:
import pandas as pd
fruits = ["apple", "banana", "orange", "grape"]
calories = [15, 25, 13, 20]

### Using lists
You may also use a function called `enumerate()` to automatically index the list you are using.

In [2]:
for i, fruit in enumerate(fruits):
    print(f"The number of calories in 4 oz of an {fruit} is {4 * calories[i]}")

The number of calories in 4 oz of an apple is 60
The number of calories in 4 oz of an banana is 100
The number of calories in 4 oz of an orange is 52
The number of calories in 4 oz of an grape is 80

## Two dimensional dictionaries or lists
When using a dictionary with a list as a value, it looks like a two-dimensional list except the first subscript is the key and the second subscript is the index of the element of the list.

For example, if we had a dictionary of fruits as above, and we wanted to show the caloric intake for a snack amount (1 oz), meal amount (4 oz) or in a day (8 oz):

In [3]:
table = {
   "fruits": ["snack", "meal", "day"],
   "apple": [],
   "banana": [],
   "orange": [],
    "grape": []
}

As we are using a list within the dictionary, a simple way to add to the list is to use the list.append() command. By using the enumerate and an index, you don't have to manually keep track of the size of the list. Try adding another fruit **AND** its calories to the lists in the first cell and see if the table is displayed properly. *Hint:* You will also need to add a line in the dictionary under "grape".

In [4]:
intakes = [1, 4, 8]
for i, fruit in enumerate(fruits):
    for j, intake in enumerate(intakes):
        table[fruit].append(intakes[j] * calories[i])
df = pd.DataFrame(table)

4. Print container

In [5]:
pd.set_option('float_format', '{:,.2f}'.format) 
display(df)

  fruits  apple  banana  orange  grape
0  snack     15      25      13     20
1   meal     60     100      52     80
2    day    120     200     104    160